---
// No props — purely presentational
---

<div class="sol">
    <div class="blur blur--1"></div>
    <div class="blur blur--2"></div>

    <div class="orbital orbit--neptune">
        <div class="planet planet--neptune">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--uranus">
        <div class="planet planet--uranus">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--saturn">
        <div class="planet planet--saturn">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--jupiter">
        <div class="planet planet--jupiter">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--mars">
        <div class="planet planet--mars">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--earth">
        <div class="planet planet--earth">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--venus">
        <div class="planet planet--venus">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
    <div class="orbital orbit--mercury">
        <div class="planet planet--mercury">
            <div class="blur blur--1"></div>
            <div class="blur blur--2"></div>
        </div>
    </div>
</div>
